extends layout

block content
    h1
      | Your Amex Expenses Have Been Pushed To Intacct
    p
      a(href='/amexupload') Upload More Amex Expenses
    p
      a(href='/') Back To The Landing Page
    code= chunk
    code= empNameStr
