extends layout

block content
    h1
      | Welcome To The Varrow Accounting Landing Page
    h2
      | Upload Employee Expenses Here:
    p
      a(href='/upload') Push Concur Employee Expenses to Intacct
    p
      a(href='/amexupload') Push Amex Employee Expenses to Intacct
    p
      a(href='http://varrowprojectfeeupload.herokuapp.com') Simple Opportunity Creation