doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(content='IE=edge,chrome=1' http-equiv='X-UA-Compatible')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='/javascripts/bootstrap.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    div.navbar.navbar-inverse.navbar-static-top(role='navigation' )
      div.container
        div.navbar-header
          button.navbar-toggle(type='button' data-toggle='collapse' data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Varrow Accounting Portal
        div.collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav
            if auth
              li.dropdown
                a.dropdown-toggle(type='button' id='dropdownMenu1' data-toggle='dropdown') 
                  span.glyphicon.glyphicon-user
                  span #{user}
                ul.dropdown-menu(role='menu')
                  li
                    a(href='/logout') Logout
                  li
                    a(href='https://na5.salesforce.com/#{userId}') View in Salesforce
            else
              li
                a(href='/') Login
          form.navbar-form.navbar-right(role='search' action='/search/results' method='post')
            div.input-group
              input.form-control(type='text', placeholder='Search Accounts' name='searchKey')
              div.input-group-btn
                button.btn.btn-success(type='submit')
                  span.glyphicon.glyphicon-search
    div.container
      block content